<html>
<head>
    <title>ExtJS REST POC</title>
    <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css">
    <script type="text/javascript" src="/extjs/ext-debug.js"></script>
    <script type="text/javascript" src="/app/poc.js"></script>
</head>
<body>
</body>
</html>
